
#boring{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /*400px - это слишком жирно */
    background: url('../images/view-apocalyptic-dark-clouds_modified_by_ancient.png') center no-repeat;
    background-size:cover;
}
header#boring h1{
    color:bisque;
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: -4px -1px 0 #000000ab, 2px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
/* позаботимся об экранах поменьше */
header {
    padding-bottom: 50px;
}

@media  (max-width: 1280px) {
    #boring {  
        background-image: url('../images/view-apocalyptic-dark-clouds_W_1280.png');
    }   
}

@media  (max-width: 1080px) {
    #boring {  
        background-image: url('../images/view-apocalyptic-dark-clouds_1080.png');
    }   
}